
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<table class="table mt-5 ">
    <tr> 
        <th>
           ID товара
        </th>
        
        <th>
            Уникальное значение(новое)
        </th>
        <th>
            Цена (новое)
        </th>
        <th>
            Уникальное значение(старая)
        </th>
        <th>
            Цена (старое)
        </th>
        <th>
            Итоговая цена разница
        </th>
    </tr>

{% for row in context %}
    <tr id ="row_{{row.id}}{{row.name_new}}" >
        <td>
            {{row.id}}
        
        </td>
        <td>
            {{row.all_name_new}}
            <small>  {{row.name_new}} </small>
        </td>
        <td>
            {{row.price_new}}
        </td>
        <td>
            {{row.all_name_old}}
            <small>  {{row.name_old}}</small>
        </td>
        <td>
            {{row.price_old}}
        </td>
        <td>
            {{row.discrepancy}}
        </td>
        <td>
            {% if row.status == 'match' %}
            <span class="bg-warning">Cовпадение</span>
            {% endif %}
            {% if row.status == 'modified' %}
            <span class="bg-danger">Изменена</span>
            {% endif %}
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="deleteRow('{{row.id}}{{row.name_new}}')" > Удалить </button>
        </td>
    </tr>


{% endfor %} 
</table>
</div>
<script> 
    function deleteRow(id)
    {
        $('#row_' + id).remove(); 
    }
</script>
{% endblock %} 
