{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="justify-content-center p-5">

  <form method="post" enctype="multipart/form-data" novalidate>
    <p> 
      *** Заметка, при добавлении полей ключ должен состоять из латинских букв и не содержать пробелов
      <br> 
      Добавляемые переменные не должны называться аналогично переменным по дефолту таким как    <br> 
      url, phone, time, adress, email, name_firm, name_person, password, short_description, description
      <br> 
      <br> 
      Пример переменных ur_address, za_nerzula, slava_orde, smotri_ne_zadohnis_ot_samodavolstva
      


    </p> 
   
  <div class="form-group">

      <div class="row">

        <div class="col-md-6">
          {% csrf_token %}
          {{ context.form |crispy }}
        </div>
           
      <button type="submit" class="btn btn-success">Создать</button>
      </div>
     

  </div>
  


</div>


</form>

</div>
{% endblock %}