{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="justify-content-center p-5">

  <form method="post" enctype="multipart/form-data" novalidate>

  <div class="form-group">

      <div class="row">

        <div class="col-md-6">
          {% csrf_token %}
          {{ form |crispy }}
        </div>
        <div class="col-md-6">
          {% for form in fieldcompany_formset %}

          <div class="row">
            <div class="col-md-6">
              {{ form.key.errors }}
              {{ form.key |as_crispy_field }}
    
            </div>
            <div class="col-md-6">
              {{ form.value.errors }}
              {{ form.value |as_crispy_field }}
    
            </div>
           
            
          </div>
          {% endfor %}
        </div>
      
      </div>
     

  </div>
  


</div>


<button type="submit" class="btn btn-success">Создать</button>
</form>

</div>





{% endblock %}