{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1> Каталог: --  {{context.catalog.url}}</h1>
</div>

<hr>
<div class="container mt-5" id='form'>

{% for field in context.fields %}
 
    <div class="form-group row">
        <div class="col-sm-4">   
            <input class="form-control input-location" value="{{field.location}}"  type="text">
        </div>
        <div class="col-sm-4">   
            <select class="form-control select-name" > 

                {% for item in context.company %}
                    {% if item == field.value %} 
                    <option selected="selected" value="{{item}}"> {{item}}</option>
                    {% else %}
                    <option value="{{item}}"> {{item}}</option>
                    {% endif %}
                {% endfor %} 
                </select> 
             
        </div>
        <div class="col-sm-4">   
            <button id = "delete-input" onclick="AjaxDeleteFindCatalog('{{field.id}}')" class="btn btn-danger p-0"> Удалить </button>
        </div>
       
        </div>
{% endfor %}
</div>


<div class="container" id='form'>

    <button id="create-input" class="btn ">
        Добавить
    </button>
    <button id="save-input" class="btn btn-primary">
        Сохранить
    </button>
    <button id="check-hadler" onclick ="AjaxCheckhadler()" class="btn btn-success">Проверка</button>
    <label for="check_status"> Требуется обрабатывать</label>
    <input type="checkbox" {% if context.catalog.status %} checked  {% endif %} id="check_status">    
  
</div>


<div class="container mt-5" id='form'>

    <iframe src="{{context.catalog.url}}" style="width:100%; height:800px;">
    Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>

<script type="text/javascript">
    var select = ` 
    <select class="form-control select-name" > 

        {% for item in context.company %}
            <option value="{{item}}"> {{item}}</option>
        {% endfor %} 
        </select> 
    
    
    `; 
    $('#create-input').click(function(){

        $('#form').append(`<div class="form-group row">
            <div class="col-sm-4">   
                <input class="form-control input-location"  type="text">
            </div>
            <div class="col-sm-4">   
            ` + select + `
            </div>
            </div>`); 
    }); 

</script>

<script type="text/javascript"> 
     $('#save-input').click(function(){
         $.each($('.select-name'), function(index, value){
             var location = $('.input-location')[index].value
             n = value.options.selectedIndex;  
             var name = value.options[n].text; 
             if(location != '')
             {
                AjaxAddFindCatalog(location, name); 
             }
         })
     }); 

    $('#check_status').on('click', function () {
    if ( $(this).is(':checked') ) {
        AjaxEditStatus('True') 
    } else {
        AjaxEditStatus('False') 
    }
})


function AjaxAddFindCatalog(location, name)
{   
    const csrf = "{{ csrf_token }}";
    $.ajax({
	      method: "POST", // метод HTTP, используемый для запроса
	      url: "{% url 'registration:create_field_catalog' context.catalog.id  %}", // строка, содержащая URL адрес, на который отправляется запрос
	      data: { // данные, которые будут отправлены на сервер
            'csrfmiddlewaretoken':csrf, 
            'location': location, 
            'name': name,  
            'status': 'add',
	      },
          
        }); 
}
function AjaxDeleteFindCatalog(location)
{   
    const csrf = "{{ csrf_token }}";
    $.ajax({
	      method: "POST", // метод HTTP, используемый для запроса
	      url: "{% url 'registration:create_field_catalog' context.catalog.id  %}", // строка, содержащая URL адрес, на который отправляется запрос
	      data: { // данные, которые будут отправлены на сервер
            'csrfmiddlewaretoken':csrf, 
            'location': location, 
            'status': 'delete', 
	      },

        }); 

}

function AjaxCheckhadler()
{    
    
    $('#check-hadler').css({'display' : 'none'});

    const csrf = "{{ csrf_token }}";
    $.ajax({
	      method: "GET", // метод HTTP, используемый для запроса
	      url: "{% url 'registration:check_hadler' context.catalog.id  %}", // строка, содержащая URL адрес, на который отправляется запрос
          success: function(data){
            alert(data); 
            $('#check-hadler').css({'display' : 'block'});
          }, 

        }); 
    

}

function AjaxEditStatus(status)
{   /* изменение статуса каталога */ 
    const csrf = "{{ csrf_token }}";
    $.ajax({
	      method: "GET", // метод HTTP, используемый для запроса
	      url: "{% url 'registration:status_catalog' context.catalog.id  %}", // строка, содержащая URL адрес, на который отправляется запрос
	      data: { // данные, которые будут отправлены на сервер
            'csrfmiddlewaretoken':csrf, 
	      },
         
        }); 

}

$(function()
  {
    $('iframe')
      //observe the load-event of the iframe-element
      .on('load',
          function () 
          {
            //set a default-input to avoid errors
            var selectedtextbox=$('input[name="myinput"]:eq(0)');
            $('input[name="myinput"]')
              .focus(function(){selectedtextbox=$(this);});
            //Note the 2nd argument here, 
            //it sets the contextof $() to the document inside the iframe
            $('div, p, li, a, href, input',
              this.contentWindow.document)
                .click(function () 
                       { 
                          var xpath = getXPath(this);
                          selectedtextbox.val(xpath)
                       });
            });
    });





</script>
 


{% endblock %}